<mat-card>
    <mat-card-header>
        <mat-card-title>Soil Classification Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-container" [formGroup]="soilForm" (submit)="onSubmit()">
            <div>
                <!-- <h4>Particle Size Distribution</h4> -->
                <mat-form-field appearance="fill">
                    <mat-label>Percentage of Gravel</mat-label>
                    <input matInput formControlName="percentageOfGravel" type="number" min="0" max="100">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Percentage of Sand</mat-label>
                    <input matInput formControlName="percentageOfSand" type="number" min="0" max="100">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Percentage of Silt</mat-label>
                    <input matInput formControlName="percentageOfSilt" type="number" min="0" max="100">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Percentage of Clay</mat-label>
                    <input matInput formControlName="percentageOfClay" type="number" min="0" max="100">
                </mat-form-field>
            </div>

            <div>
                <!-- <h4>Sieve Analysis</h4> -->
                <mat-form-field appearance="fill">
                    <mat-label>Percentage Passing Sieve No.200</mat-label>
                    <input matInput formControlName="percentagePassingSieveNo200" type="number" min="0" max="100">
                </mat-form-field>
            </div>

            <div style="display: flex; justify-content: flex-start;">
                <div>
                    <h4>Soil Gradation - Option 1</h4>
                    <mat-form-field appearance="fill">
                        <mat-label>Coefficient of Uniformity (Cu)</mat-label>
                        <input matInput formControlName="coefficientOfUniformity" type="number">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Coefficient of Curvature (Cc)</mat-label>
                        <input matInput formControlName="coefficientOfCurvature" type="number">
                    </mat-form-field>
                </div>

                <div style="margin-left: 8px;">
                    <h4>Particle Diameter Percentiles - Option 2</h4>
                    <mat-form-field appearance="fill">
                        <mat-label>d10</mat-label>
                        <input matInput  formControlName="d10" type="number">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>d30</mat-label>
                        <input matInput  formControlName="d30" type="number">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>d60</mat-label>
                        <input matInput formControlName="d60" type="number">
                    </mat-form-field>
                </div>
            </div>            
            
            <div>
                <!-- <h4>Atterberg Limits</h4> -->
                <mat-form-field appearance="fill">
                    <mat-label>Liquid Limit (LL)</mat-label>
                    <input matInput formControlName="liquidLimit" type="number">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Plasticity Index (PI)</mat-label>
                    <input matInput formControlName="plasticityIndex" type="number">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Atterberg Limits Symbol</mat-label>
                    <mat-select formControlName="atterbergLimitsSymbol" placeholder="Select Atterberg Limits Symbol">
                      <mat-option *ngFor="let option of atterbergLimitsSymbolOptions" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>

                
                <mat-form-field appearance="fill">
                    <mat-label>Percentage of Organic Content</mat-label>
                    <input matInput formControlName="percentageOfOrganicContent" type="number" min="0" max="100">
                </mat-form-field>
            </div>


            <button mat-raised-button type="submit" color="primary">Classify</button>

            <div style="margin-top: 20px;">
                <button mat-raised-button (click)="runTestCases()" color="warn">Run Tests</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>