<main class="main">
  <mat-toolbar color="primary">
    <h1>{{ title }}</h1>
  </mat-toolbar>

  <div class="content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Soil Classification Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-soil-classification-form></app-soil-classification-form>
      </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Classification Result</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-soil-classification-result></app-soil-classification-result>
      </mat-card-content>
    </mat-card>
  </div>
</main>