<main>
  <mat-toolbar color="primary">
    <nav style="display: flex; width: 100%; align-items: center;">
      <a mat-button routerLink="/tool" routerLinkActive="active-link">
        <mat-icon>apps</mat-icon>
        {{ title }}
      </a>

      <div style="flex-grow: 1;"></div>

      <a mat-button routerLink="/verification" routerLinkActive="active-link">
        <mat-icon>assignment_turned_in</mat-icon>
        Tool Accuracy Verification
      </a>

      <a mat-button routerLink="/about" routerLinkActive="active-link">
        <mat-icon>info</mat-icon>
        About
      </a>
    </nav>
  </mat-toolbar>

  <div style="padding-bottom: 20px;">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <div class="footer-section" id="creator">Made by Borcze Angelov.</div>
    <div class="footer-section" id="copyright">© Copyright 2024. All Rights Reserved.</div>
    <div class="footer-section" id="version" style="padding-right: 10px;">Version: {{appVersion}}</div>
  </footer>
</main>